<script id="navbar" type="text/html">
    <ul class="nav-list inner clearfix">
        <li><a href="http://www.170tao.net/rest/index">首页</a></li>
        <li><a href="http://www.170tao.net/rest/product/prodQueryView">寻源比价</a><div class="icon"></div> <a href="http://www.170tao.net/rest/demandMarket/getDetailList">需求市场</a><div class="icon"></div><a href="http://www.170tao.net/rest/material/gotoMaterial">物资调剂</a></li>
        <li><a href="http://www.170tao.net/rest/electron/electronShop" target="_blank">电子超市</a><div class="icon"></div><a href="http://www.170tao.net/rest/professionMarket/proMarketIndex">战略采购</a><div class="icon"></div><a href="http://www.170tao.net/rest/cutleryZone/gotoCutleryZone">刀具专区</a><div class="icon"></div><a href="http://www.170tao.net/rest/etrip/getEtripTravel">差旅专区</a>
        </li><li><a href="http://aeccbid.aited.cn/" target="_blank">电子招投标</a><div class="icon"></div><a href="http://www.170tao.net/rest/portal/toAeroCreditIndex">供应链金融</a></li>
        <li><a href="http://www.170tao.net/rest/businessManager/querySupplierList">合作供应商</a></li>
    </ul>
</script>