<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title><%=title %></title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="format-detection" content="telephone=no">
    <%  css.forEach(function(src){ %>
    <link rel="stylesheet" href="<%=src %>" />
    <% }); %>
    <!--[if lt IE 9]>
    <script src="../../js/lib/es5-shin.min.js"></script>
    <script src="../../js/lib/es5-sham.min.js"></script>
    <script src="../../js/lib/json3.min.js"></script>
    <script src="../../js/lib/html5shiv-printshiv.min.js"></script>
    <![endif]-->
</head>
<body>

